body {
  background-color:darkred;
  color: green;
}

.home-container {
  justify-items: center;
  margin: auto;
  width: 50%
  
}

.home-container a {
  color: green
}

.pomodoro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  
}
.img-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  

}

.pomodoro-img {
  display: flex;
  width: 20%;
  justify-content: center;
  justify-items: center;
  

}

button {
  background-color:green;
  color:darkred
}

input {
  background-color:green;
  color:darkred;
}

::placeholder {
  color: darkred;
}

.activity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}